
{% block content %}
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="#">orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:logout' %}">logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:login' %}">login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:register' %}">register</a>
                </li>
            {% endif %}
        </ul>

{% endblock %}
